@font-face {
    font-family: "Gilroy";
    src: url('../fonts/Gilroy/gilroy-extrabold.otf');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Medium";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

html, body {
    background: #f6f6f6;
    color: #343434;
    padding: 0 0;
    margin: 0 0;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-family: "Roboto-Regular";
}

/* SCROLL STYLE */
::-webkit-scrollbar {
    margin: 0;
    padding: 0;
    width: 6px;
    background: #aaa;
}
::-webkit-scrollbar-track {
    margin: 0;
    padding: 0;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb {
    margin: 0;
    padding: 0;
    background: #343434;
}

input::placeholder {
    font-family: "Roboto-Regular";
    color: #aaa;
}
input, input:focus {
    font-family: "Roboto-Regular";
    outline: none;
}
input[type=file] {
    display: none;
}

a {
    text-decoration: none;
    color: #343434;
    transition: .3s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.fa-angle-down {
    font-size: 10px;
}

.help-block {
    position: absolute;
    width: 100%;
    height: 5vh;
    padding: 0;
    color: #343434;
    font-size: .8em;
    font-weight: 300;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.help-block.error {
    color: #f05454;
}
.help-block.success {
    color: #40bb40;
}

.help-block-cloud {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.red-circle {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: #f05454;
    border-radius: 50%;
}
.gray-circle {
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: #bbb;
    border-radius: 50%;
}
.red-cel {
    font-size: 6pt;
    padding: 5px;
    background: #f05454;
    color: #fff;
    text-shadow: none;
    font-weight: bolder;
}
.green-cel {
    font-size: 6pt;
    padding: 7px;
    background: #40bb40;
    color: #fff;
    text-shadow: none;
    font-weight: bolder;
}


.l-wrapper {
    display: grid;

    grid-template-columns: repeat(12, minmax(auto, 1fr));
    grid-template-rows: 4rem minmax(80vh, auto) 5rem;
    grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer"
        ;
}

.l-header {
    grid-area: header;
    box-sizing: border-box;
    padding: 0 3vw;
    background: #fff;
    z-index: 4;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);
    box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.l-main {
    grid-area: main;
    background: #f6f6f6;
    padding: 10vh 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.l-footer {
    grid-area: footer;
    box-sizing: border-box;
    padding: 0 3vw;
    background: #343434;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}




/* HEADER INCLUDE STYLE */
.header-logo {
    font-family: "Gilroy";
    font-size: 1.6em;
    font-weight: 600;
    text-shadow: 1px 1px 0px rgba(0,0,0,.4);
}
.header-logo i {
    color: #ffd34e;
}

.header-logo a:hover {
    color: #232323;
}

.header-nav {
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0 8vw;
}

.header-nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav-list-item {
    position: relative;
    padding: 1.5vh 1vw;
    margin-right: 1vw;
    border-bottom: 3px solid transparent;
    transition: .2s;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-list-item.active {
    border-color: #343434;
}

.header-nav-list-item:hover {
    border-color: #343434;
}

.header-nav-list-dropdown {
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    left: 0;
    width: 220px;
    max-height: 40vh;
    padding: 1vh 0;
    background-color: #343434;
    border-radius: 0 0 3px 3px;
    overflow-y: auto;
}

.header-nav-list-item:hover .header-nav-list-dropdown {
    display: block;
    animation: dropdown-animation .2s;
}

.header-nav-list-dropdown-item,
.other-clouds-list-dropdown-item {
    box-sizing: border-box;
    padding: .8vh 1vw;
    font-size: .8em;
    background-color: #343434;
    color: #fff;
    transition: .2s;
}

.header-nav-list-dropdown-item a,
.other-clouds-list-dropdown-item a {
    color: #fff;
}

.header-nav-list-dropdown-item:hover,
.other-clouds-list-dropdown-item:hover {
    background-color: #f6f6f6;
    color: #343434;
}
.header-nav-list-dropdown-item:hover a,
.other-clouds-list-dropdown-item:hover a {
    color: #343434;
}

.header-nav-list-dropdown-item.no-cursor,
.other-clouds-list-dropdown-item.no-cursor {
    pointer-events: none;
}


/* FOOTER INCLUDE STYLE */
.copyright-text {
    color: #fff;
}



/* PAGE --> home.php */
.cloud-choice {
    width: 28vw;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);
    -moz-box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);
    box-shadow: 5px 5px 4px 0px rgba(217,217,217,1);
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.other-clouds {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    font-size: .8em;
    background-color: #343434;
    color: #fff;
}

.other-clouds-list {
    cursor: pointer;
    padding: 1.5vh 2.5vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.other-clouds-list-item i {
    animation: up-and-down-animation 1s ease alternate infinite;
}

.other-clouds-list-dropdown {
    display: none;
    margin: 0;
    padding: 0;
    width: 60%;
    margin-left: 1vw;
    margin-top: 1vh;
    position: relative;
}

.other-clouds-list-dropdown::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 25%;
}

.create-cloud {
    width: 100%;
    flex-grow: 1;
    padding: 5vh 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.create-cloud h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #343434;
    margin: 0;
}

.form-container {
    width: 100%;
}

.form-row {
    width: 60%;
    margin: 0 auto;
    padding: 3vh 0;
}

.form-row-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field {
    box-sizing: border-box;
    width: 70%;
    height: 30px;
    padding-left: 7px;
    border: 1.3px solid #343434;
    border-radius: 4px;
    outline: none;
}

.form-field:hover, .form-field:focus {
    border-color: #111;
}

.form-button {
    background-color: transparent;
    color: #343434;
    border: none;
    font-size: 1.6em;
    cursor: pointer;
    outline: none;
    transition: .3s;
}

.form-button:hover {
    color: #232323;
}


/* PAGE --> 404.php */
.error-404 {
    width: 100%;
    height: 50vh;
    color: #343434;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.error-404 h3 {
    width: 100%;
    text-align: center;
}



/* PAGE --> cloud.php */

.cloud-container {
    position: relative;
    width: 92%;
    min-height: 35rem;
    height: 35rem;
    margin: 0 auto;
    background: #343434;
    color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 14px 0 #c7c3c3;
    -moz-box-shadow: 0 10px 14px 0 #c7c3c3;
    box-shadow: 0 10px 14px 0 #c7c3c3;
    overflow: hidden;
}

.cloud-left-div {
    width: 8%;
    height: 35rem;
    background-color: #343434;
    color: #fff;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 10px 0px 59px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 0px 59px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 0px 59px -14px rgba(0,0,0,0.75);
    z-index: 3;
}

.cloud-left-button {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin: .7rem 0;
    top: 1.4rem;
}

.cloud-left-button i {
    color: #a3a3a3;
    font-size: 22px;
    transition: ease-in-out 100ms all;
}

.cloud-left-button i:hover {
    color: #ffffff;
}

.cloud-right-div {
    width: 92%;
    height: 35rem;
    overflow: auto;
    float: right;
    background-color: #343434;
    color: #fff;
    z-index: 2;
}

.top-task-div {
    position: relative;
    width: 92%;
    height: 5rem;
    display: inline-flex;
}

.arrow-path-travel-div {
    position: relative;
    width: 25%;
    top: 2rem;
    height: 50%;
    left: 7%;
}

.arrow-path-travel-div span {
    font-size: 20px;
    margin: auto 8%;
    cursor: pointer;
}

.cloud-title {
    position: relative;
    width: 26%;
    height: 50%;
    left: 10%;
    top: 1.8rem;
    font-size: 22px;
    margin: 0;
    font-family: 'Roboto-Regular';
    text-align: center;
}

.cloud-title i {
    color: #ffd34e;
    font-size: 20px;
}

.folder-path-div {
    position: relative;
    font-size: 12px;
    font-family: 'Roboto-Regular';
    border-top: solid 1px #a3a3a3;
    border-bottom: solid 1px #a3a3a3;
    width: 84%;
    left: 8%;
    height: auto;
    padding: .6rem 0;
}

.folder-path-div span:hover {
    cursor: pointer;
}

.folder-content-list {
    color: #fff;
    height: auto;
    position: relative;
    margin-left: 4%;
}

.write-directory-div {
    color: #fff;
    height: auto;
    position: relative;
    left: 8%;
    width: 70%;
    padding: 0;
    background: rgba(22, 18, 18, 0.8);
    clear: both;
    border-radius: 5px;
}

.directory-current-folder {
    list-style: none;
    box-sizing: border-box;
    cursor: pointer;
    height: 5rem;
    width: 100%;
    padding-left: 4%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.span-folders i {
    font-size: 46px;
    color: #ffd34e;
    position: relative;
    left: 0%;
}

.span-folder-name {
    position: relative;
    margin-top: 1.7rem;
    font-family: 'Roboto-Regular';
    font-size: 14px;
}

.subLista {
    position: relative;
    width: 100%;
    padding: 0;
}

.anotherSpanLink {
    margin-top: .55rem;
    list-style: none;
    cursor: pointer;
    float: left;
    width: auto;
    padding-left: 2%;
}

.anotherSpanLink span {
    display: block;
    font-size: 14px;
    font-family: 'Roboto-Regular';
}

.anotherSpanLink span i {
    color: #ffd34e;
    font-size: 20px;
}

.write-directory-div li {
    color: #fff;
    list-style: none;
    display: flex;
    height: 30px;
    font-size: 14px;
    align-items: center;
    position: relative;
    padding-left: 10px;
    border-radius: 5px;
    font-family: 'Roboto-Regular';
    cursor: pointer;
}

.write-directory-div li i {
    color: #ffd34e;
}

.cloud-left-div span {
    cursor: pointer;
}

.cloud-left-div .directoryPath {
    position: absolute;
    top: 40px;
    right: 10px;
    text-align: right;
    color: #343434;
    font-weight: 300;
    font-size: 9pt;
}

.folder-action-button {
    position: relative;
    float: right;
    display: none;
    margin-left: 3%;
}

.list-for-hover:hover {
    background: #797979;
}

.list-for-hover:hover .folder-action-button {
    display: block;
}

[write-directory] li i {
    font-size: 11pt;
}

[write-directory] li span {
    height: 85%;
    align-items: center;
    border-radius: 5px;
    background-color: #666;
    cursor: pointer;
    padding: 0 5px;
    float: right;
    margin-right: 5px;
    display: none;
    position: relative;
}

[write-directory] li:hover span {
    display: flex;
}

.no-body-input {
    width: 220px;
    height: 80%;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    background-color: transparent;
    padding: 2% 0;
    color: #fff;
    border: none;
}






/* MODAL STYLE */
.my-progress-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    z-index: 99;
}

.progress-content-modal {
    background-color: #ffffff;
    border: none;
    width: 30%;
    left: 35%;
    max-height: 450px;
    font-family: 'Roboto-Medium';
    position: absolute;
    top: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    border-radius: 4px;
    padding: 10px;
}

.close-progress-modal {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    position: fixed;
    /* margin-top: .4rem; */
    right: 30%;
    cursor: pointer;
    top: 8.2rem;
}
    
.close-progress-modal:hover,
.close-progress-modal:focus {
    color: #0F0617;
    text-decoration: none;
    cursor: pointer;
}

.progress-modal-title {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #343434;
    color: #fff;
    margin: 0;
    font-family: 'Roboto-Medium';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.progress-bar {
    width: 85%;
    height: 20px;
    margin: 2rem auto;
    border-radius: 4px;
    border: .4px solid #ccc;
    overflow: hidden;
}

.progress-bar > div {
    background: #aaa;
    background: -webkit-linear-gradient(to right, #aaa, #666);
    background: linear-gradient(to right, #aaa, #666);
    color: #343434;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    width: 0%;
}




.my-error-modal {
    display: none;
    background-color: #ffffff;
    border: none;
    width: 19.5%;
    right: .2rem;
    height: 45%;
    font-family: 'Roboto-Medium';
    position: fixed;
    bottom: 0;
    overflow: hidden;
    z-index: 99;
    border-radius: 4px;
    -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    -moz-box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .5);
}

.error-title {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #aaa;
    color: #343434;
    margin: 0 auto;
    font-size: 11.3pt;
    font-family: 'Roboto-Medium';
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.error-text {
    font-family: 'Roboto-Regular';
    width: 95%;
    height: 15rem;
    margin: .4rem auto;
    line-height: 26px;
    font-size: 11pt;
    text-align: center;
    overflow: auto;
}



/* MEDIA QUERIES */

/* BIG AND SMALL CELLPHONES SCREEN */
@media only screen and (max-width: 767px) {
    /* PAGE --> home.php */
    .cloud-choice {
        width: 70vw;
    }

    /* PAGE --> cloud.php */
    .cloud-title {
        width: 40%;
    }
}






@keyframes dropdown-animation {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes up-and-down-animation {
    from { transform: translateY(-10%); }
    to { transform: translateY(10%); }
}